@model BrewData.Models.Contest
<section class="featured">
  <div class="content-wrapper">
    <div id="create-contest">
      @using (Html.BeginForm()) {
        <table>
          <tr>
            <td>
              @Html.HiddenFor(model => model.Id)
            </td>
          </tr>
          <tr>
            <td>
              <div class="editor-label">
                @Html.LabelFor(model => model.Name)
              </div>
            </td>
            <td>
              <div class="editor-label">
                @Html.EditorFor(model => model.Name)
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="editor-label">
                @Html.LabelFor(model => model.Date)
              </div>
            </td>
            <td>
              <div class="editor-label">
                @Html.EditorFor(model => model.Date)
              </div>
            </td>
          </tr>
          <tr>
            <td>
              
              <div class="editor-label">
                @Html.LabelFor(model => model.Beers)
              </div>
            </td>
            <td>
              @if (Model.Beers.Any()) {
                <ul class="beer-list">
                  @for (var i = 0; i < Model.Beers.Count(); i++) {
                  <li>
                    <div>
                      <div>
                  @Html.LabelFor(model => model.Beers.ElementAt(i).Name)
                  @Html.EditorFor(model => model.Beers.ElementAt(i).Name)
                      </div>
                      <div>
                  @Html.LabelFor(model => model.Beers.ElementAt(i).Type)
                  @Html.EditorFor(model => model.Beers.ElementAt(i).Type)
                      </div>
                      <div>
                  @Html.LabelFor(model => model.Beers.ElementAt(i).BrewedBy)
                  @Html.EditorFor(model => model.Beers.ElementAt(i).BrewedBy)
                      </div>
                    </div>
                  </li>
                
                  }
                </ul>
              } else {
                
              }
              <div class="ui-buttonset">
                <button class="add-beer" value="Add"></button>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="editor-label">
                @Html.LabelFor(model => model.Votes)
              </div>
            </td>
          
            <td>
              @if (Model.Votes.Any()) {

                <ul>
                  @foreach (var vote in Model.Votes) {
                    <li>
                      <span>@vote.Choice</span>
                    </li>
                  }
                </ul>
              } else {
                <div>(No Votes Yet)</div>
              }
            </td>
          </tr>

        </table>
    <div class="ui-buttonset">
    <input type="submit" title="Create" />
    @Html.ActionLink("Cancel", "Index", "Contest")
    </div>
      }

    </div>
  </div>
</section>
