@{
    ViewBag.Title = "Brew-Ha-Ha Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Welcome to the Brew-Ha-Ha, the premier beer brewing contest of the year!
            </p>
        </div>
    </section>
}
<h3>Do you want to:</h3>
<ol class="round">
    <li class="one">
      <h5>Start A New Contest</h5>
      @Html.ActionLink("New", "Create")
    </li>

    <li class="two">
      <h5>Work With Existing Contest</h5>
    @Html.ActionLink("Continue", "Load")
    </li>

</ol>
  <div class="message-success">@TempData["CreateResult"]</div>